{% extends "brs/base.html" %}
{% block title %}Search{% endblock %}
{% block content %}<h1>Search for tickets</h1>
<form method="get">
    {{ form.as_p }}
    <input type="submit" value="Search">
</form>
{% if query %}
    {% if ticket %}
        <h1>Search results for "{{ query }}"</h1>
        <h3>Name: <a href="{{ ticket.get_absolute_url }}">{{ ticket.name }}</a></h4>
        <h4>Number: <a href="{{ ticket.get_absolute_url }}">{{ ticket.number }}</a></h4>
        <h5>Bus: <a href="{{ ticket.get_absolute_url }}">{{ ticket.bus.title }}</a></h4>
    {% else %}
        <h1>Ticket for ticket number "{{ query }}" does not exist</h1>
    {% endif %}
{% endif %}
{% endblock %}